{
  "parser": "babel-eslint",
  "extends": ["react-app"],
  "env": {
    "es6": true
  },
  "plugins": ["react"],
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "no-shadow": "warn",
    "no-bitwise": "warn",
    "no-else-return": "warn",
    "no-const-assign": "warn",
    "no-lonely-if": "warn",
    "prefer-arrow-callback": "warn",
    "prefer-const": "warn",
    "prefer-template": "warn",
    "no-console": "warn",
    "no-alert": "warn",
    "react/prop-types": "warn",
    "react/no-unused-prop-types": "warn",
    "react/no-unused-state": "warn"
  }
}
